<div>
	<div layout="column" class="main">
		<md-card style="height:98vh" layout="column">
			<!--<div se-collapse se-collapse-cards="user"></div>-->
			<div layout="row" flex style="align-items: center;">
				<div flex="20" style="background:#673AB7; height: 100%; position: relative;">
					<md-list flex>
						<md-subheader class="md-no-sticky">{{ user.name }}</md-subheader>
						<md-list-item class="md-2-line" ng-repeat="cat in categories track by $index" ng-click="select($index)" style="border: 1px #000000 solid;">
							<div class="md-list-item-text" layout="column">
								<h3 style="color:white">{{ cat.name }}</h3>
							</div>
						</md-list-item>
						<md-button ng-click="reset()" style="border: 1px #000000 solid; color:white; background: rgba(0,0,0,.2); position: absolute; bottom: 5em; left: 0; width: 100%; margin: 0; height: 5em;">Reset</md-button>
						<md-button ng-click="submit()" style="border: 1px #000000 solid; color:white; background: #FF5722; position: absolute; bottom: 0; left: 0; width: 100%; margin: 0; height: 5em;">Save</md-button>
					</md-list>
				</div>
				<div flex="80" style="color: #212121; background: white; height: 100%; padding: 10px 50px; overflow-y: auto;">
					<h1>{{ categories[selected].name }}</h1>
					<div class="tiny-margin" ng-repeat="val in categories[selected].cats track by $index">
						<h2>{{ val.capitalizeFirstLetter() }}</h2>

						<div class="tiny-margin" ng-repeat="(key2,val2) in user[val]" ng-if="isObject(user[val]) && !isArr(user[val])">
							<md-input-container class="full" ng-if="!isArr(user[val][key2]) && !isObject(user[val][key2])">
								<label>{{ key2 }}</label>
								<input ng-model="user[val][key2]">
							</md-input-container>

							<!-- I'm not writing a recursive directive for work I do for free. That's no bueno territory. A directive should go here though... -->
							<!-- Looking back on this. Should have written that directive... -->

							<div ng-if="isArr(user[val][key2]) && key2.capitalizeFirstLetter() != 'Other' && val.capitalizeFirstLetter() != 'Contact'">
								<h3 ng-if="key2.capitalizeFirstLetter() != 'Sets' && val.capitalizeFirstLetter() != 'Skills'">{{ key2.capitalizeFirstLetter() }}</h3>
								<md-card class="tiny-margin tiny-padding" ng-repeat="item in user[val][key2] track by $index">
									<md-button style="width: 1em;" ng-click="destroy(user[val][key2], $index)">
										<span class="icon ion-close selectable" style="z-index:1;"></span>
									</md-button>

									<div ng-if="!isArr(item) && !isObject(item)" class="tiny-padding">
										<md-input-container class="full">
											<label>{{ key2 }}</label>
											<input ng-model="user[val][key2][$index]">
										</md-input-container>
									</div>

									<div ng-if="isObject(item) && !isArr(item)" style="padding-left:2em" ng-repeat="(keya,val3) in item track by $index">
										<md-input-container class="full">
											<label>{{ keya }}</label>
											<input ng-model="user[val][key2][$parent.$parent.$index][keya]">
										</md-input-container>
									</div>

									<md-input-container ng-if="isArr(item)" ng-repeat="val3 in item track by $index">
										<input ng-model="user[val][key2][$parent.$index][$index]">
									</md-input-container>
								</md-card>
								<div style="height: 70px;vmargin-top: 1.6em;">
									<md-button class="md-fab" style="float:right" ng-click="create(user[val][key2])">
										<span class="icon ion-plus selectable" style="z-index:1; color: white;"></span>
									</md-button>
								</div>
							</div>
						</div>
						<div ng-repeat="ix in user[val] track by $index" ng-if="isArr(user[val])">
							<md-card class="tiny-margin tiny-padding">
								<!--<h3>{{ $index }}</h3>-->
								<md-button style="width: 1em;" ng-click="destroy(user[val], $index)">
									<span class="icon ion-close selectable" style="z-index:1;"></span>
								</md-button>

								<!-- user[val][$parent.$index] -->
								<div ng-if="isObject(ix) && !isArr(ix)" ng-repeat="(key3,val3) in ix" style="padding-left:2em">
									<md-input-container class="full" ng-if="!isObject(val3) && !isArr(val3)">
										<label>{{ key3 }}</label>
										<input ng-model="user[val][$parent.$parent.$parent.$index][key3]">
									</md-input-container>

									<div ng-if="isObject(val3) && !isArr(val3)">
										<h3>{{ key3.capitalizeFirstLetter() }}</h3>
										<md-input-container class="large-margin" ng-repeat="(key4,val4) in val3 track by $index">
											<label>{{ key4 }}</label>
											<input ng-model="user[val][$parent.$parent.$index][key3][key4]">
										</md-input-container>
									</div>

									<div ng-if="isArr(val3)">
										<h3>{{ key3.capitalizeFirstLetter() }}</h3>
										<div class="large-margin" ng-repeat="val4 in val3 track by $index">
											<md-input-container class="full" ng-if="!isArr(val4) && !isObject(val4)">
												<input ng-model="user[val][$parent.$parent.$index][key3][$index]">
											</md-input-container>

											<md-input-container ng-repeat="(key5,val5) in val4 track by $index" ng-if="isObject(val4) && !isArr(val4)" class="tiny-padding half-flex">
												<label>{{ key5 }}</label>
												<input ng-model="user[val][$parent.$parent.$parent.$index][key3][$parent.$index][key5]">
											</md-input-container>

											<md-input-container ng-if="isArr(val4)" ng-repeat="val5 in val4 track by $index">
												<input ng-model="user[val][$parent.$parent.$parent.$index][key3][$parent.$index][$index]">
											</md-input-container>
										</div>
									</div>
								</div>
								<md-input-container ng-if="isArr(ix)" ng-repeat="val3 in ix track by $index">
									<input ng-model="user[val][$parent.$index][$index]">
								</md-input-container>
							</md-card>
						</div>
						<div style="height: 70px;vmargin-top: 1.6em;" ng-if="isArr(user[val])">
							<md-button class="md-fab" style="float:right" ng-click="create(user[val])">
								<span class="icon ion-plus selectable" style="z-index:1; color: white;"></span>
							</md-button>
						</div>
					</div>
				</div>
			</div>
		</md-card>
	</div>
</div>